<template>
<div>
    <button type="submit" class="btn btn-danger">hello</button>

</div>

</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }

        
    }
</script>

<style>
.my-button{
    backgroung-color:#333;
}


</style>
